body {
  background-color: slategray;
  font-family: 'Roboto', sans-serif;
}

.dropdown-menu-container {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}


#footer {
  width: 100vw;
  height: 30vh;
  background-color: slategray;
  z-index:2;
  position: absolute;
  top: 70%;
  left: 0%;
}

.video {
  position: fixed;
  top: 400px;
  left: 50%;
  z-index: -100;
  transform: translate(-50%, -50%);
}
