body {
  font-family: 'Roboto', sans-serif;
}

.user-login-container {
  float: right;
}

.user-name {
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color: #B3B7B7;
}

.dropdown-menu-container {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.neumann-title {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  font-size: 48px;
}

.state-tag {
  margin-top: 40px;
}

.go-btn {
  width: 125px;
}

.github-btn {
  margin: 20px;
}

.login-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.log-in {
  display: inline-block;
}

.github-img {
  height: 30px;
  width: 30px;
}

#turing-video {
  position: absolute;
  top: 0;
}

@media screen and (max-width: 1300px) {

  #turing-video {
    height: 700px;
  }

  #footer {
    margin-top: -5%;
  }
}
