body {
  background-color: #2E3131;
  font-family: 'Roboto', sans-serif;
}

.dropdown-menu-container {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.neumann-title {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  font-size: 48px;
}

.state-tag {
  margin-top: 40px;
}

.go-btn {
  width: 125px;
}

.login-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.log-in {
  display: inline-block;
}

.github-img {
  height: 30px;
  width: 30px;
}

.video {
  position: absolute;
  left: 50%;
  z-index: -100;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {

  #footer {
    margin-top: -25%;
  }
}
