body {
  font-family: 'Roboto', sans-serif;
}

.dropdown-menu-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 270px;

  @media (max-width: 1000px) {
    width: 80%;
    margin-top: 200px;
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    width:40%;
  } //iphone5
}

.company-btn-container {

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    height: 20px;
  } //iphone5
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    margin: 0 auto;
  } //iphone 6
}

.add-company-btn {
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    margin-top: 5px;
  } //iphone5
}

.log-out-btn{
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  } //iphone5
}

.title-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.neumann-title {
  font-family: 'Cutive Mono', monospace;
  margin-bottom: 70px;
  position: absolute;
  z-index: 3;
  font-size: 100px;
  top: 100px;

  @media (max-width: 1000px) {
    font-size: 60px;
    margin-bottom: 40px;
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 40px;
    margin-top: 12%;
  }
}

.state-tag {
  margin-top: 40px;
}

.go-btn {
  width: 125px;
}

.github-btn {
  margin: 20px;

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    margin-left: 35px;
    width: 80%;
  }

}

.login-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 12;

  @media (max-width: 500px) {
    right: auto;
    width: 100%;
    text-align: center;
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    width: 100vw;
    display:flex;
    flex-direction: row;
  }
}

.github-img {
  height: 30px;
  width: 30px;

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    height: 20px;
    width: 20px;
  }

}

.hero-img{
  @media (max-width: 1000px){
    height:60vh;
    width:100vw;
    background-image: url("../app/photos/computer.png");
    background-size: 100vw 60vh;
    position:absolute;
  }
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    height: 70vh;
    background-size: 100vw 70vh;

  }

}

#turing-video {
  position: absolute;
  top: 0;

  @media (max-width: 1000px) {
    display: none;
  }
}
