.companyprofile-container {
  margin-left: 100px;
  width: 66%;
  height: 70%;
}

.profile-techstack {
  margin-bottom: 20px;
}

.profile-alumni {
  margin-bottom: 20px;
  font-size: 24px;
}

.information-container {
  height: 30vh;
  margin: 20px;
}

.profile-name {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 48px;
}
.current-alumni{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.alumni-name {
  margin-bottom: 20px;
}

.company-list-style {
  text-decoration: none;
}
