.about-us-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:auto;
  margin-top: 4%;
}

.team{
  height:90px;
  width:90px;
  border-radius: 50px;
  font-size: 36px;
  color:#fff;
  margin-bottom: 10%;
}

.team-member-name:hover{
  color: #00C2D2;
}

.team-member-name {
  font:18px;
  color:#B3B7B7;
  margin-top:10%;
}
.copy-text-headline{
  color: #B3B7B7;
  text-align: center;
  width:70%;
  margin:auto;
  padding: 0px;
  margin-top: 1%;
  line-height: 1.5;
}

.copy-subtext{
  color: #B3B7B7;
}

a {
  text-decoration: none;
}

ul{
  list-style: circle;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 33%;
  line-height: 2.5;
}

#footer {
  width: 100vw;
  height: 40vh;
  background-color: #2E3131;
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer-text {
  text-align: center;
  margin: 45px;
  line-height: 130%;
  font-size: 24px;
  color: #B3B7B7;
}

.tab-text{
  color:#B3B7B7;
}

.tab{
  text-align: center;
}
