.about-us-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px auto;
}

.member-name {
  margin: 10px;
}

.team-github-pic {
  height: 90px;
  width: 90px;
  border-radius: 50px;
  font-size: 36px;
  color: #fff;
  margin-bottom: 10%;

  @media (max-width: 500px) {
    height: 50px;
    width: 50px;
  }
}

.team-member-name:hover {
  color: #00C2D2;
}

.team-member-name {
  font-size: 18px;
  color: #B3B7B7;
  margin-top: 10%;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.copy-text-headline {
  color: #B3B7B7;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 12px;
  margin: auto;
  margin-top: 1%;
  padding: 0px;
  padding-top: 16px;
  text-align: center;
  width: 85%;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.copy-subtext {
  color: #B3B7B7;

  @media (max-width: 600px) {
    font-size: 14px;
    width: 80%;
    margin: 5px auto;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: circle;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 33%;
  line-height: 2.5;
}

#footer {
  background-color: #2E3131;
  bottom: 0;
  left: 0;
  min-height: 300px;
  position: absolute;
  width: 100vw;
  z-index: 2;
}

.footer-text {
  text-align: center;
  margin: 25px;
  line-height: 130%;
  font-size: 20px;
  // color: #B3B7B7;
}

.tab {
  text-align: center;
  padding: 10px;
}
