.copy-text{
  margin-top:5%;
}
#footer {
  width: 100vw;
  height: 40vh;
  background-color: #2E3131;
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer-text {
  text-align: center;
  margin: 45px;
  line-height: 130%;
  font-size: 24px;
  color: #B3B7B7;
}

.tab-text{
  color:#B3B7B7;
}

.tab{
  text-align: center;
}
