.header-container {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  height: 13vh;
  background-color: #2e3131;
}

.home-btn-container {
  margin-bottom: 100px;
  height: 13vh;
  background-color: #2e3131;
}

.company-user-login {
  margin: 20px;
}

.log-out-btn {
  margin-left: 20px;
}

.add-company-btn {
  margin: 40px;
}

.company-btn-container {
  margin-left: 20px;
}

.home-btn {
  float: right;
  margin: 40px;
}
