.header-container {
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.company-user-login {
  margin-right: 20px;
}

.log-out-btn {
  margin: 20px;

  width: 125px;
}

.add-company-btn {
  margin: 20px;
}
