.company-comment-wrapper {
  position: relative;
  margin: 20px auto;
  box-shadow:0 2px 2px rgba(0,0,0,0.23);
  padding: 20px;
  max-width: 600px;
}

.company-comment-created_at, .company-comment-message {
  margin: 5px;
}

.company-comment-created_at {
  font-style: italic;
  font-size: 10px;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  color:  #7E8787;
}
